name: Automated Hourly Data Processing and Commit

on:
  #schedule:
  #  - cron: '0 * * * *'
  workflow_dispatch: 

jobs:
  auto_push_data:
    runs-on: ubuntu-latest
    
    steps:
      - name: 1. Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: 2. Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x' 

      - name: 3. Install dependencies
      
        run: |
          python -m pip install --upgrade pip
          pip install pandas 
          

      - name: 4. Execute Python script
        run: |         
          python merge_json.py 
          
      - name: 5. Configure Git
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: 6. Commit and Push changes
        run: |
        
          git add .
          
          
          if ! git diff --cached --exit-code; then
            git commit -m "Automated data update: $(date +%Y-%m-%d %H:%M)"
            git push
            echo "Nouveaux fichiers pushés."
          else
            echo "Aucun changement détecté, pas de commit ni de push nécessaire."
          fi
